* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;


}

.text {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.header-nav {
    max-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
}

.logo {
    max-height: 70px;
    border-radius: 50%;
}
.text-slogan{
    color: #fff;
    font-size: 30px;
}
.solgan {
    display: inline-block;
    line-height: 30px;
    color: #1ab7fa;
    font-weight: 900;
    font-size: 30px;
    margin-left: 10px;
}

.btn {
    padding: 20px;
    min-width: 300px;
    background-color: #faa61a;
    border: 2px solid #faa61a;
    border: none;
    border-radius: 5px;
    color: #fff;
    Font-weight: bold;
    font-weight: 700;
    font-size: 20px;
}

.btn-style {
    background-color: #fff;
    border: 2px solid #faa61a;
    color: #faa61a;
    min-width: 300px;
    margin-right: 10px;
}

.btn:hover:first-child {
    background-color: #fa771a;
    cursor: pointer;
    color: #fff;
}

.btn:hover:nth-child(2) {
    background-color: #faa61a;
    color: #fff;
    cursor: pointer;

}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}