* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;


}

.text {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.header-nav {
    max-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px;
}

.logo {
    max-height: 70px;
    border-radius: 50%;
}
.text-slogan{
    color: #fff;
    font-size: 30px;
}
.solgan {
    display: inline-block;
    line-height: 30px;
    color: #1ab7fa;
    font-weight: 900;
    font-size: 30px;
    margin-left: 10px;
}

.btn {
    padding: 20px;
    min-width: 300px;
    background-color: #faa61a;
    border: 2px solid #faa61a;
    border: none;
    border-radius: 5px;
    color: #fff;
    Font-weight: bold;
    font-weight: 700;
    font-size: 20px;
}

.btn-style {
    background-color: #fff;
    border: 2px solid #faa61a;
    color: #faa61a;
    min-width: 300px;
}

.btn:hover:first-child {
    background-color: #fa771a;
    cursor: pointer;
    color: #fff;
}

.btn:hover:nth-child(2) {
    background-color: #faa61a;
    color: #fff;
    cursor: pointer;

}

.contact-img {
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 50px;
    border-radius: 50%;
    height: 80px;
    cursor: pointer;
}

.contact .nth1 {
    bottom: 150px;
}

.box {
    display: none;
    min-height: 450px;
    width: 400px;
    text-align: center;
    right: 60px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 1;
    right: 100px;
    bottom: 50px;
    background-color: #fff;

}

.active {
    display: block;
}

.hide {
    display: none;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.exit {
    font-size: 80px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    border-radius: 50%;

}

.exit:hover {
    background-color: rgba(43, 37, 37, 0.123);
}

.btn-chat {
    border: none;
    background-color: #0876d5;
    color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 100px;
}

.container {
    position: relative;
    margin-top: 100px;
}

.intro {
    background: url("../images/meomeo.jpg") no-repeat center center fixed;
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-shadow: 1px 1px;
}

.hospitalName {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    margin-top: 70;
    position: absolute;
    margin-top: 350px;

}

.icon {
    min-width: 50px;
    color: #fa771a;
    font-size: 30px;
}

.btn-care {
    min-width: 400px;
    position: absolute;
    margin-top: 500px;
}

.container .btn-care:hover {
    background-color: #fa771a;
    cursor: pointer;
}

.advise {
    min-height: 500px;
    margin: 150px;
}

.services {
    margin-top: -200px;
    margin: 150px;

}

.service-group {
    display: flex;
    justify-content: space-between;
    
}

.service-item h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.service-group .img {
    min-height: 400px;
    width: 400px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 20px;
}

.service-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.service-item p{
    padding: 20px;
}
.service-item .text{
    min-width: 200px;
}
h2 {
    Font-weight: bold;
    font-weight: 800;
    font-size: 30px;
    border-bottom: 5px solid #fa771a;
    padding-bottom: 10px;
    text-align: center;

}

.teams-group {
    background: url("../images/maomao.jpg") no-repeat center center fixed;
    min-height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 150px;
}

.teams-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.member-info {
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 70px;
}

.member-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 50px;
}

.member-name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.member-pos {
    margin-top: 10px;
    font-size: 20px;
}

.teams-experience {
    margin: 150px;
}

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-khamcun {
    border-radius: 10px;
}

.ex-de {
    display: flex;
    margin-left: 20px;
}

.ex-des-item {
    border: 2px solid #faa61a;
    ;
    border-radius: 10px;
    display: flex;
    max-width: 700px;
    margin-bottom: 20px;

}

.ex-des-item:last-child {
    margin-bottom: 0;
}

.pet-icon {
    padding: 20px;
    max-width: 100px
}

.package-register {
    padding: 0px 150px;
}

.packages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.package {
    box-shadow: rgba(18, 18, 228, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    max-width: 500px;
    border-radius: 20px;

}

.package p {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.package h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;

}

.package .price {
    font-size: 30px;
    font-weight: 700;
    border: none;
}

.btn-register {
    width: 100%;
}

.appointment {
    margin: 150px;
    margin-bottom: 50px;
    font-size: 25px;
}

.apppointment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.apppointment-content img {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-right: 50px;
}

.appointment-form .info {
    min-width: 360px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: 1px solid #faa61a;
}

.form-col2 {
    display: flex;
    justify-content: space-between;
}

h4 {
    color: #faa61a;
    margin-bottom: 20px;
    font-size: 35px
}


.center{
    text-align: center; 
    max-width: 50px;
}
th{
    font-size: 25px;
}
.table-col{
}

.input-style{
    padding: 20px;
    min-width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
}
.add-petInfo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(37, 111, 228, 0.486);
    width: 100%;
    height: 100vh;
    display: none;
    
}

.content{
    margin-top: 300px;
}
.item{
    text-align: center;
}
.active{
    display: block;
}



.footer {
    background-color: rgb(3, 15, 23);
    padding: 16px 0px;
    color: #fff;

}

.info-cty {
    margin-top: 16px;
}

.info-cty a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.info-cty .info-detail {
    margin-top: 8px;
    color: #fff;
}

.icon-width {
    min-width: 24px;
}

.showAllProduct {
    display: inline-block;
    background-color: #25304b;
    padding: 22px;
    color: #fff;
    border: 1px solid green;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.footer-info-detail:hover {
    cursor: pointer;
}


